@model IEnumerable<BL.TaskModel>

@{
    ViewBag.Title = "GetPendingApprovalTaskList";
}

<h2>Pending Approval Task List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            Active
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "CreatePendingAprovalTask", new { TaskId = item.TaskId }) |
            </td>
        </tr>
    }

</table>